<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzy.nim">

    <application>
        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="${applicationId}.generic.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>